body{
    background-image: url(frame-1.jpeg);
    background-position: cover;
    width: 100%;
    height: 100%;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main {
  margin: 0;
  display: flex;
  position: absolute;
  flex: 1;
  flex-direction: column;
}
/*Top Navigation Bar and its responsive*/
header{
  margin: 0;
  width: 100%;
  height: 4.5em;
  position: absolute;
  z-index: 1;
}
nav {
   margin: 0 1.5em;
}
nav ul {
  justify-content: right;
  display: flex;
  padding: 0;
}
nav li {
  list-style: none;
  margin: .45em .45em;
  padding: 0 .45em;
  }
  nav a {
    text-decoration: none;
    /*color: #1C4582;*/
    color: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: .55em;
    font-weight: bolder;
  }

  nav a:hover,
  nav a:focus {
    background-color: #1C4582;
    color: whitesmoke;
}

  nav a.active {
    background-color: #1C4582;
    color: whitesmoke;
}
.image-a {
  mix-blend-mode: multiply;
  position: absolute;
  width: 6em;
  height: 4.5em;
  margin: 0 3.5em;
  background-image: url(technology-image.jpeg);
}
/*The media querry for the Navigation button*/
@media (max-width: 350px) {
       nav a {
        margin-left: 30em;
        justify-content: space-between;
       }
      nav li {
       line-height: .55em; 
  }
      
      nav ul {
        flex-direction: column;
        padding: 0 auto;
        margin: auto;
      }
      header {
        width: 100%;
        height: 4.5em;
        align-items: right;
      }
      section.dropdown {
        display: none;
      }
      .image-a {
        mix-blend-mode: multiply;
        position: absolute;
        width: 6em;
        height: 4.5em;
        margin: 0;
      }
}

  /* Dropdown Button */
.dropbtn {
  color: #1C4582;
  color: whitesmoke;
  /*padding: 10px;*/
  font-size: .55em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: none;
  font-weight: bolder;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  size: 100%;
}

 /*Dropdown Content (Hidden by Default)*/
.dropdown-content {
  display: none;
  position: absolute;
  background-color: whitesmoke;
  width: 12em;
  z-index: 1;
  margin-left: -1.5em;
}

/* Links inside the dropdown*/
.dropdown-content a {
  color: #1C4582;
  padding: 3px 4px;
  text-decoration: none;
  font-weight: bolder;
  display: block;
  font-size: .45em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #1C4582;
  color: whitesmoke;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn:hover .dropbtn:focus
.dropdown:focus {
  background-color: #1C4582;
  color: whitesmoke;
}

.image-cover {
  width: 100%;
  height: 100%;
  margin: auto;
}
.sortus-opening-sentence {
  margin: 50em;
  color: whitesmoke;
  z-index: 1;
  position: absolute;
}
.landing-title {
  color: #1C4582;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: .85em;
  font-weight: bolder;
  text-align: center;
  margin: auto;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 30em;
}
/*div {
  border-top: .15em solid #69be94;
  margin: 3.5em 4.5em;
  width: 3.6em;
}*/
h3 {
  color: #1C4582;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: .55em;
  font-weight: bolder;
  text-align: left;
  margin: .25em auto;
  justify-content: space-between;
}
.sortus-title {
  border-top: .15em solid #69be94;
  margin: 2.5em 4.5em;
  width: 3.6em;
}
.about-sortus {
  color: #1C4582;
  font-size: .45em;
  text-align: left;
  margin: -5.5em 10em;
  margin-right: 55em;
  justify-content: space-between;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.image {
  justify-content: flex-end;
  position: absolute;
  display: block;
  width: 30em;
  height: 20em;
  margin: -5em 310px;
  z-index: -1;
}


    /*End of media querry 2*/
    .container-sortus {
      display: flex;
      flex-direction: column;
      position: absolute;
      margin: auto;
    }
    .second-div {
      border-top: .15em solid #69be94;
      margin-top: 43em;
      width: 3.7em;
      margin-left: 4em;
    }
    .sortus-image, .sortus-image-2, .sortus-image-3 {
      width: 10em;
      height: 12em;
      margin: 4em;
      margin-top: 45em;
      display: flex;
      flex-direction: column;
      position: absolute;
      justify-content: space-between;
      z-index: -1;
    }
    .sortus-image-2 {
      margin-left: 15.5em;
    }
    .sortus-image-3 {
      margin-left: 27em;
    }
    .sortus-data-reselling, .sortus-webDevelopment, .sortus-installation {
      color: #1C4582;
      font-size: .65em;
      position: absolute;
      font-weight: bolder;
      display: flex;
      text-decoration: none;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .sortus-data-reselling {
      margin: 8em;
      margin-top: 85em;
      width: 10em;
    }
    .sortus-webDevelopment {
      width: 10em;
      margin: 10em;
      margin-left: 28em;
      margin-top: 85em;
    }
    .sortus-installation{
      margin: 10em;
      margin-left: 46em;
      margin-top: 85em;
    }
    /*.sortus-ocean-image {
      width: 79%;
      margin-top: 15em;
      margin-left: 4.5em;
      height: 15em;
      display: flex;
      position: absolute;
      z-index: -9;
    }*/
    .sortus-title-2 {
      position: absolute;
      display: flex;
      border-top: .15em solid #69be94;
      width: 6.8em;
      margin-left: 4em;
      margin-top: 59em;
    }

    .reveal{
      position: relative;
      transform: translateY(150px);
      opacity: 0;
      transition: 5s all ease;
    }
    
    .reveal.active{
      transform: translateY(0);
      opacity: 1;
    }
    .active.fade-bottom {
      animation: fade-bottom 1s ease-in;
    }
      @keyframes fade-bottom {
        0% {
          transform: translateY(50px);
          opacity: 0;
        }
        100% {
          transform: translateY(0);
          opacity: 1;
        }
      }

      .sortus-works {
        position: absolute;
        font-size: .45em;
        text-align: left;
        margin-right: 55em;
        margin: 9em;
        margin-top: 135em;
        width: 30em;
        display: flex;
        justify-content: space-between;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      }
      .sortus-photo, .sortus-photo-2 {
        justify-content: flex-end;
        position: absolute;
        display: flex;
        width: 10em;
        height: 13em;
        margin: 27em;
        margin-top: 60em;
        z-index: -1;
      }
    
      .sortus-works-sentence-2 {
        font-size: .45em;
        display: absolute;
        text-align: left;
        margin: 50em;
        margin-top: 170em;
        width: 30em;
        justify-content: space-between;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      }
      .sortus-photo-2 {
        width: 10em;
        height: 13em;
        margin: 4em;
        margin-top: 75em;
      }
      .sortus-works-sentence-3 {
        position: absolute;
        font-size: .45em;
        margin: 9em;
        margin-top: 200em;
        width: 50em;
        display: flex;
        justify-content: space-between;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helv
      }
      .sortus-container-3 {
        display: flex;
        position: absolute;
        flex-direction: column;
        margin: auto;
      }
      footer{
        width: 100%;
        background-color: #13aa5f;
        height: 15em;
        font-size: .65em;
        margin-top: 105em;
        display: flex;
      }
      h6 {
        color: whitesmoke;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: .85em;
        font-weight: bolder;
        margin: 3.5em;
        margin-left: 7em;
        width: 12em;
      }
      .sortus-chat, .email-link, .support, .support-numbers {
        text-decoration: none;
        color: whitesmoke;;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: .65em;
        font-weight: bolder;
        display: flex;
      }
      .sortus-chat:hover
      .sortus-chat:active {
        color: azure;
      }
      .sortus-chat {
        margin: 8em;
        position: absolute;
        justify-content: space-between;
        margin-left: 9em;
      }
      .support {
        margin: 10em;
        position: absolute;
        justify-content: space-between;
        margin-left: 9em;
      }
      .support-numbers {
        position: absolute;
        margin: 12em;
        justify-content: space-between;
        margin-left: 9em;
      }
      .sortus-footer {
        position: absolute;
        display: flex;
        margin-left: 28em;
      }
      p{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: .65em;
        font-weight: bolder;
        display: flex;
      }
      .sortus-footer-note {
        position: absolute;
        display: flex;
        margin: 8em;
        margin-left: 7em;
        color: whitesmoke;
      }
      .sortus-footer-note-2 {
        position: absolute;
        margin: 10em;
        margin-left: 36.5em;
        color: whitesmoke;
      }
      .footer-image {
        mix-blend-mode: multiply;
        position: absolute;
        width: 8em;
        height: 7em;
        margin-left: 30em;
      }
      .sortus-opening-sentence {
        position: absolute;
        font-size: 1.5em;
        margin: 7em;
        color: aliceblue;
      }
      .sortus-opening-sentence-2{
        position: absolute;
        font-size: .65em;
        margin: 20em;
        color: aliceblue;
      }
      .sortus-fontawesome {
        position: absolute;
        margin: 13em;
        margin-left: 30em;
      }
      .copyright {
        color: whitesmoke;
        justify-content: space-between;
        display: flex;
        position: absolute;
        margin: 20em;
      }
      .footer-notes {
        display: flex;
        position: absolute;
        justify-content: space-between;
        color: whitesmoke;
        margin: 8em;
        width: 20em;
        margin-left: 70em;
      }


/*#backgroundimage {
  background-image: url(technology-2.jpeg);
  background-size: cover;
  background-position: center;
  height: 280px;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}


   /*creating CSS glassmorphism
background: white;
border-radius: 10px;
box-shadow:  3px 3px  8px rgb(114, 113, 111),
            -3px -3px  8px #ffffff;
 -webkit-box-shadow: 3px 3px 8px rgb(114, 113, 111), -3px -3px 8px #ffffff;
height: 100px;
width: 280px;
margin-top: 120px;
position: absolute;
float: right;
left: 350px;
}
 #notes {
  color: #1C4582;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 8px;
  text-align: center;
 } 
 #notes:hover {
  font-weight: bolder;
 }
 #note:hover {
  -webkit-box-shadow: inset 4px 4px px rgb(114, 113, 111), inset -6px -6px 10px #ffffff;
  box-shadow: inset 8px 8px 13px rgb(114, 113, 111), inset -6px -6px 10px #ffffff;
 }
 #vision-notes {
  position: absolute;
  float: left;
  color: #1C4582;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 8px;
  margin: 100px 30px;
 }
     /* creating CSS neurmophosm
 #vision {

background: white;
border-radius: 10px;
box-shadow:  3px 3px  8px rgb(114, 113, 111),
            -3px -3px  8px #ffffff;
 -webkit-box-shadow: 3px 3px 8px rgb(114, 113, 111), -3px -3px 8px #ffffff;
height: 100px;
width: 280px;
position: absolute;
margin: 120px 30px;
 }
 #sortus-vision {
  color: #1C4582;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 8px;
  text-align: center;
 }
 #sortus-vision:hover{
  font-weight: bolder;
 }
 #vision:hover {
  -webkit-box-shadow: inset 4px 4px 8px rgb(114, 113, 111), inset -6px -6px 10px #ffffff;
  box-shadow: inset 8px 8px 13px rgb(114, 113, 111), inset -6px -6px 10px #ffffff
 }
 #email-us {
  color: #1C4582;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
 }
 #top-services {
  color: #666666;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 8px;
  float: left;
  position: absolute;
  margin: 280px 30px;
 }
 #data-reselling {
  display: inline-block;
  position: absolute;
  width: 130px;
  height: 130px;
  margin: 120px 30px;
  border-radius: 15px;
 }
 #server{
  display: inline-block;
  width: 130px;
  height: 130px;
  margin: 120px 180px;
  border-radius: 15px;
 }
 #camera {
  display: inline-block;
  width: 130px;
  height: 130px;
  position: absolute;
  margin: 120px 12px;
  border-radius: 15px;
 }
 #technology {
  display: inline-block;
  width: 130px;
  height: 130px;
  position: absolute;
  margin: 120px -150px;
  border-radius: 15px;
 }
 #tech {
  display: inline-block;
  width: 130px;
  height: 130px;
  position: absolute;
  margin: 280px -150px;
  border-radius: 15px;
 }
 #solar {
  display: inline-block;
  width: 130px;
  height: 130px;
  position: absolute;
  margin: 280px -460px;
  border-radius: 15px;
 }
 #call-center {
  display: inline-block;
  width: 130px;
  height: 130px;
  position: absolute;
  margin: 280px 12px;
  border-radius: 15px;
 }
 #cloud {
  display: inline-block;
  width: 130px;
  height: 130px;
  position: absolute;
  margin: 280px -310px;
  border-radius: 15px;
 }
 #camera:hover, #server:hover, #data-reselling:hover, #technology:hover, #tech:hover, #solar:hover, #call-center:hover, #cloud:hover {
  opacity: 1;
 -webkit-animation: flash 1.5s;
 animation: flash 1.5s;
}
@-webkit-keyframes flash {
 0% {
   opacity: .4;
 }
 100% {
   opacity: 1;
 }
}
@keyframes flash {
 0% {
   opacity: .4;
 }
 100% {
   opacity: 1;
 }
}
#data{
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 8px;
  color: whitesmoke;
  position: absolute;
  margin: 235px 70px;
  font-weight: bold;
}
#data:hover {
  background-color: #1C4582;
  color: whitesmoke;
}
#server-link{
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 8px;
  color: whitesmoke;
  position: absolute;
  margin: 235px -280px;
  font-weight: bold;
}
#server-link:hover {
  background-color: #1C4582;
  color: whitesmoke;
}
#camera-link {
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 8px;
  color: whitesmoke;
  position: absolute;
  margin: 235px 20px;
  font-weight: bold;
}
#camera-link:hover {
  background-color: #1C4582;
  color: whitesmoke;
}
#technology-link{
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 8px;
  color: whitesmoke;
  position: absolute;
  margin: 235px -140px;
  font-weight: bold; 
}
#technology-link:hover {
  background-color: #1C4582;
  color: whitesmoke;
}
#tech-link {
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 8px;
  color: whitesmoke;
  position: absolute;
  margin: 395px -130px;
  font-weight: bold; 
}
#tech-link:hover {
  background-color: #1C4582;
  color: whitesmoke;
}
#solar-link {
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 8px;
  color: whitesmoke;
  position: absolute;
  margin: 395px -430px;
  font-weight: bold; 
}
#solar-link:hover {
  background-color: #1C4582;
  color: whitesmoke;
}
#callCenter-link {
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 8px;
  color: whitesmoke;
  position: absolute;
  margin: 395px 30px;
  font-weight: bold;
}
#callCenter-link:hover {
  background-color: #1C4582;
  color: whitesmoke;
}
#cloud-link {
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 8px;
  color: whitesmoke;
  position: absolute;
  margin: 395px -290px;
  font-weight: bold;
}
#cloud-link:hover {
  background-color: #1C4582;
  color: whitesmoke;
}
#footer {
  background-color: #69be94;
  height: 150px;
  margin-top: 80px;
  position: static;
}
#footer-image{
  margin: -20px 10px;
  width: 80px;
  height: 80px;
  mix-blend-mode: multiply;
  color: whitesmoke;
}
#color-line {
  background-color: darksalmon;
  height: 2px;
  margin-top: 70px;
}
#footer-text {
  margin: 5px 20px;
  font-size: 10px;
  font-weight: bold;
  color: whitesmoke;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#whatsapp-logo{
  width: 15px;
  height: 15px;
  margin: -8px 20px;
}
#company-number{
  color: whitesmoke;
  margin: -10px 40px;
  font-size: 8px;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#email-link2{
  width: 15px;
  height: 15px;
  margin: -20px 20px;
}
#email-link{
  text-decoration: none;
  color: whitesmoke;
  font-size: 8px;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0px 45px;
}
#support{
  position: absolute;
  text-decoration: none;
  color: whitesmoke;
  font-size: 8px;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: -32px 200px;
}
#support-numbers {
  position: absolute;
  text-decoration: none;
  color: whitesmoke;
  font-size: 8px;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: -10px 200px;
}*/

/*Sortus support CSS*/
/*.sortus-support-welcome {
  margin: 5em;
  position: absolute;
  display: flex;
}*/
.sortus-opening-sentence-support {
  position: absolute;
  font-size: 1.5em;
  margin: 3em;
  color: aliceblue;
}
.sortus-opening-sentence-support-2 {
  position: absolute;
  font-size: 1.5em;
  margin: 13em;
  margin-left: 3em;
  width: 20em;
  color: aliceblue;
}
.sortus-support-message{
  position: absolute;
  margin: 5em;
  }
.support-glassmorphism {
  background: white;
border-radius: 10px;
box-shadow:  3px 3px  8px rgb(114, 113, 111),
            -3px -3px  8px #ffffff;
 -webkit-box-shadow: 3px 3px 8px rgb(114, 113, 111), -3px -3px 8px #ffffff;
height: 12em;
width: 10em;
position: absolute;
margin: 5em;
margin-left: 3em;

}
.sortus-support-email {
  color: #1C4582;
  font-size: .65em;
  margin: .85em;
  font-weight: bolder;
}
.surpport-email, #support-button {
  display: flex;
  margin: 1em;
  border-color: #69be94;
  border-radius: 2em;
  font-size: .25em;
  width: 30em;
}
.surpport{
  height: 8em;
}
.paragraph {
  font-size: .45em;
  margin: 1em;
  display: flex;
  justify-content: space-between;
}
button {
  justify-content: center;
  font-weight: bolder;
  color: #1C4582;
}
#support-button{
  margin: 4em;
  width: 25em;
}
input {
  color: rgb(94, 92, 92);
}
.support-aside {
  border: .5px solid;
  margin: 5em;
  margin-left: 15em;
  border-radius: .5em;
  height: 12em;
}
.surpport-h6 {
  color: #1C4582;
  margin: auto;
  justify-content: center;
  display: flex;
}
.support-whatsapp-link, .support-email-link, .sortus-support-number {
  color: #1C4582;
  margin: 1em 1.5em;
  text-decoration: none;
  display: flex;
  position: absolute;
  font-size: .55em;
  font-weight: bolder;
}
.support-email-link {
  margin: 3em 1.5em;
}
.sortus-support-phone-number {
  display: flex;
  position: absolute;
  margin: 5em 1.3em;
}
.sortus-support-number {
 margin: 8em 1.7em;
 font-size: .5em;
 font-weight: bold;
}

.sortus-website {
  margin: 10em 1.3em;
}
.website {
  display: flex;
  position: absolute;
  justify-content: space-between;
  margin: -10em 1.5em;
}
.surpport-email-surpport {
  color: black;
  font-size: .65em;

}
.fa-brands, .fa-sharp{
  margin: .2em;
}
@media (max-width: 350px) {
  main{
 width: 300px;
}
.image-cover {
 width: 100%;
 height: 100%;
 margin: auto;
}
   .container {
     flex-direction: column;
     display: flex;
     align-items: center;
   }
   .landing-title, h3 {
     font-size: .45em;
     justify-content: space-between;
   }
   .landing-title{
     margin-top: -30em;
    }
    .sortus-title {
     margin-top: .45em;
    }
    div {
     width: 3em;
   }
   .sortus-opening-sentence-support{
     margin: 5em;
   }
   .image, .sortus-opening-sentence-support-2{
display: none;
   }
   .about-sortus {
     color: #1C4582;
     font-size: .45em;
     align-items: center;
     margin: auto;
     margin-top: -5em;
     width: 30em;
}
      h3{
         order: -1;
}
     .container-sortus {
       width: -100px;
       display: flex;
       flex-direction: column;
       align-items: center;
       margin-left: -30px;
       margin-top: 50px;
     }
  

   .title-2{
     width: 8em;
     z-index: -1;
   }
   .second-div {
     margin-top: 6em;
     margin-left: 4.5em;
     order: -1;
   }
   .sortus-image, .sortus-image-2, .sortus-image-3, .sortus-image-4{
     width: 10em;
     height: 12em;
     margin: 1em;
     display: flex;
     justify-content: space-between;
     z-index: -1;
   }
   .sortus-image-2, .sortus-image-3, .sortus-image-4  {
     float: left;
   }
   .sortus-data-reselling, .sortus-webDevelopment, .sortus-installation {
     color: #1C4582;
     font-size: .65em;
     position: absolute;
     font-weight: bolder;
     display: flex;
     text-decoration: none;
     z-index: 2;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   }
   .sortus-data-reselling {
     width: 10em;
     position: center;
    margin: 30em;
   }
   .sortus-webDevelopment {
     position: center;
     margin: auto 22em -17em;
   }
   .sortus-installation {
     position: center;
     margin: auto 42em -17em;
   }
   .sortus-image, .sortus-image-2, .sortus-image-3, .sortus-image-4{
     width: 8em;
     height: 12em;
     margin: 4em;
     justify-content: center;
   }
   .sortus-data-reselling:hover .sortus-webDevelopment:hover .sortus-installation:hover
   .sortus-data-reselling:focus .sortus-webDevelopment:focus .sortus-installation:focus {
     background-color: #1C4582;
     color: whitesmoke;
     z-index: 2;
   }
   .sortus-statement{
     color: #1C4582;
     margin: 20em;
     position: center;
     font-size: .65em;
     text-align: left;
     font-weight: bolder;
     display: flex;
     z-index: 1;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   }
   .sortus-ocean-image {
     width: 79%;
     margin-top: -15em;
     margin-left: 4.5em;
     height: 15em;
     display: flex;
     position: relative;
     z-index: -9;
   }
   .sortus-title-2 {
     margin: 4.5em;
     width: 4.5em;
     position: absolute;
     display: flex;
     z-index: 1;
   }
   /*Sortus support*/
   .support-aside {
     display: flex;
     flex-direction: column;
     margin: 10em;
     position: center; 
     min-width: 10em;
   }
   .website {
     justify-content: space-between;
     display: flex;
     position: relative;
     margin-bottom: 500em;
   }
   .sortus-opening-sentence-support-2, .sortus-footer-note, .sortus-footer-note-2{
     display: none;
   }
   .sortus-footer {
     display: none;
   }
   .sortus-fontawesome {
     display: flex;
     margin: 10em;
     margin-left: 10em;
   }
   .copyright{
     display: flex;
     justify-content: space-between;
     margin-right: -40em;
     position: absolute;
     width: 20em;
   }

 }